.reservation-item {
  display: flex;
  justify-content: start;
  gap: 0.85rem;
}
.reservation-item .active-module {
  color: #133b61 !important;
  background-color: var(--primary) !important;
}
.reservation-item .active-module svg {
}
.reservation-item li {
  border-radius: 12px !important;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  -ms-border-radius: 12px !important;
  -o-border-radius: 12px !important;
  margin: 0 !important;
  padding: 0.46rem 1.45rem !important;
  height: fit-content !important;
  background-color: var(--zinc-200);
  color: var(--zinc-600);
}
.reservation-item li:hover {
  color: #fff !important;
  background-color: var(--primary) !important;
}
.reservation-item li span:hover {
  color: #fff !important;
}
#search-box form {
  background-color: #fff;
  padding: 0.6rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
#search-box label {
  color: var(--zinc-500) !important;
}
#search-box input::placeholder {
  color: var(--zinc-900) !important;
}
div.click-content p {
  display: none;
}
.mb-400px {
  margin-bottom: 420px !important;
}
.Basis_Date_Box p {
}
span.selected-day,
span.selected-month {
  display: none !important;
}
.searchList {
  margin-top: 0.89rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.searchList li.bg-bgColor-100 {
  background: var(--secondary);
  color: white !important;
  border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
}
.search-box-container .flighttype-dropDown {
  position: absolute !important;
  background: #fff;
  left: 0 !important;
  padding: 0 0.6rem;
  align-items: center;
  top: -65px;
  border-radius: 8px;
  height: 46px;
  width: 100%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.search-box-container .flighttype-dropDown .flighttype-items {
  top: 50px;
  left: 0rem;
  border-radius: 0.25rem;
  border: 1px solid #737373;
  background-color: #fff;
  width: 100%;
  clear: both;
  z-index: 10;
  position: absolute;
}
.flighttype-dropDown-text {
  margin-bottom: 0 !important;
  position: relative;
}
.flighttype-dropDown-text::after {
  content: " ";
  height: 8px;
  border-top: 2px solid black;
  width: 8px;
  transform: rotate(135deg);
  border-right: 2px solid black;
  font-family: fontawesome !important;
  position: absolute;
  left: -5vw;
  border-top-right-radius: 1px;
  margin-top: 0.3rem !important;
}
#search-box .Basis_Date_Box {
  margin: 1rem 0;
  background-color: var(--zinc-100);
  height: 129px !important;
  border-radius: 8px;
  padding: 0.45rem 0.67rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: fit-content;
}
.formflight .Basis_Date_Box {
  width: 100%;
}
.one-btb-flight-form .Basis_Date_Box {
  width: 100%;
}
.formflight .Flightclass-Passenger {
  flex-direction: column;
  gap: 0.8rem;
  height: 129px !important;
  background-color: var(--zinc-100);
  border-radius: 8px;
  padding: 0.45rem 0.67rem;
  width: 100%;
}
/* .one-btb-flight-form > div.w-2\/5.flex.gap-2 {
      flex-direction: column;
      gap: 0.8rem;
      background-color: var(--zinc-100);
      border-radius: 8px;
      padding: 0.45rem 0.67rem;
      width: 100%;
    } */
.one-btb-flight-form {
  height: fit-content;
}
.Wrapper-CheckHotelDate .needhotel-label {
  color: var(--primary) !important;
}
span.FlightClass-text {
  font-size: 14px;
}
div.reserve-field.flightclass-field {
  width: 100%;
  display: flex;
  align-items: center;
  height: 51px !important;
  padding: 0.65rem 0;
  border-bottom: 1px solid var(--zinc-200);
}
div.reserve-field.flightclass-field label.float-right.w-full {
  display: none;
}
div.reserve-field.flightclass-field div.border-type-1 {
  width: 100%;
  padding: 0.45rem 0 !important;
}
.FlightClass-text {
  position: relative;
  margin-right: 2.184rem !important;
  cursor: pointer;
}
.FlightClass-text::before {
  background-image: url("../images/FlightClass.png");
  content: "";
  position: absolute;
  right: -1.84rem !important;
  width: 24px;
  height: 24px;
}
.passengerbox.hidden-box {
  top: 102%;
  position: absolute !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.FlightClass.hidden-box {
  position: absolute !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  top: 102%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.reserve-field.passengers-field.h-20 {
  height: 50% !important;
  padding: 0.6rem 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.reserve-field.passengers-field.h-20 label.float-right.w-full span {
  display: none;
}
.reserve-field.passengers-field.h-20 label.float-right.w-full {
  width: fit-content !important;
}
.reserve-field.passengers-field.h-20 div.border-type-1.h-full.rounded-type-1 {
  display: flex;
  gap: 0.3rem;
}
#r-hotel .reserve-field.departure-route.relative {
  width: 100%;
  height: 103.75px !important;
  background-color: var(--zinc-100);
  border-radius: 8px;
  padding: 0.45rem 0.67rem;
}
#r-hotel
  .reserve-field.passengers-field.h-20
  div.border-type-1.h-full.rounded-type-1 {
  width: 100%;
}
#r-hotel .reserve-field.passengers-field.h-20 label.float-right.w-full {
  display: none !important;
}
#r-hotel .reserve-field.passengers-field.h-20 {
  width: 100%;
  margin: 1rem 0;
  height: 103.75px !important;
  background-color: var(--zinc-100);
  border-radius: 8px;
  padding: 0.45rem 0.67rem;
}
#r-hotel .reserve-search {
  margin-top: 1rem;
}
#r-hotel .passengerbox.hidden-box {
  right: 0;
  margin-top: 1rem;
}
#r-hotel .parent-for-rooms {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
#r-hotel .parent-for-rooms span.passenger-counts.room-count {
  width: 100%;
  border-bottom: 1px solid var(--zinc-200) !important;
  display: flex !important;
  align-items: center;
  height: 51px !important;
  gap: 0.2rem;
  position: relative;
  padding-right: 1.6rem;
}
#r-hotel .parent-for-rooms span.passenger-counts.room-count ::before {
  background-image: url("../images/bed.png");
  position: absolute;
  content: "";
  right: -0.3rem;
  width: 24px;
  height: 24px;
}
#r-hotel .passenger-counts.adult-count {
  position: relative;
  padding-right: 1.1rem;
}
#r-hotel .passenger-counts.adult-count::before {
  background-image: url("../images/user.png");
  position: absolute;
  content: "";
  right: -0.7rem;
  width: 24px;
  height: 24px;
}
#r-hotel .passenger-counts.adult-count,
#r-hotel .passenger-counts.child-count {
  display: flex !important;
  align-items: center;
}
#r-hotel .Basis_Date_Box {
  width: 100%;
  margin: 1rem 0;
}
.Basis_Date_Box .reserve-field {
  width: 100%;
  height: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.6rem 0;
}
.Basis_Date_Box .reserve-field div.border-type-1.h-full.rounded-type-1 {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.7rem !important;
}
.Basis_Date_Box .reserve-field input.absolute {
  position: relative !important;
  padding-top: 0 !important;
}
.Basis_Date_Box .reserve-field:first-child {
  border-bottom: 1px solid var(--zinc-200) !important;
}
.Basis_Date_Box .reserve-field label {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.search-box-container input {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
div.passenger-item ul.float-left.h-8.leading-8 li:first-child,
div.passenger-item ul.float-left.h-8.leading-8 li:last-child {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid var(--primary-900);
}
div.passenger-item ul.float-left.h-8.leading-8 li:first-child:hover,
div.passenger-item ul.float-left.h-8.leading-8 li:last-child:hover {
  border: 1px solid var(--secondary);
}
.passengerbox select {
  border: 2px solid var(--primary);
}
.reserve-search button {
  color: white !important;
  background-color: var(--secondary) !important;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-border-radius: 8px;
}
.reserve-search button:hover {
  background-color: var(--primary) !important;
}
.formflight .reserve-search button {
  height: 59px;
}

.one-btb-flight-form .reserve-search button {
  height: 59px;
}
#r-hotel .reserve-search button {
  height: 59px;
}
#r-flighthotel .reserve-search button {
  height: 59.72px;
}
.reserve-field.passengers-field {
  cursor: pointer !important;
}
.r-flighthotel-pasTypeContainer {
  background-color: var(--zinc-100);
  border-radius: 8px;
  padding: 0.45rem 0.67rem;
  display: flex;
  height: 129px !important;
  flex-direction: column;
  gap: 0.8rem;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: 100%;
}
ul.flighttype-items li:hover span {
  color: white !important;
}
ul.flighttype-items li:hover {
  background-color: var(--primary);
}
#r-hotel .Basis_Date_Box,
#r-hotel .reserve-field.h-20.departure-route,
#r-hotel .reserve-field.passengers-field.h-20 {
  height: 129px !important;
}
.multicity-flight-form .Basis_Date_Box .reserve-field.departure-date {
  height: 100% !important;
  border-bottom: none !important;
}
.multicity-flight-form .Basis_Date_Box .reserve-field.return-date {
  height: 0 !important;
}
.cstm-drp {
  background-color: #f9f9f9 !important;
}
.multicity-flight-form .multi-route-tlt {
  color: var(--primary-900);
}
.multicity-flight-form .reserve-search {
  width: 100%;
  margin-top: 1rem;
}
.multicity-flight-form .reserve-search button {
  width: 100%;
  height: 52px !important;
}
.multicity-flight-form {
  position: relative;
}
.multicity-flight-form .multiroute-fields.flex.gap-2.w-full {
  flex-direction: column;
}
.multicity-flight-form .reserve-field.flightclass-field,
.multicity-flight-form .reserve-field.passengers-field {
  position: relative !important;
}
span.module-icon {
  display: flex !important;
  justify-content: center;
  align-items: center;
  transform: translateY(4px);
}
.reservation-item li {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
#search-box label svg {
  width: 24px !important;
  height: 24px !important;
}
#search-box .search-flight,
#search-box .search-hotel,
#search-box .search-flighthotel {
  flex-direction: row-reverse;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
}
.one-btb-flight-form .flight-routes {
  width: 100%;
  height: 129px !important;
  display: flex;
  flex-direction: column !important;
  background-color: var(--zinc-100);
  border-radius: 8px;
  padding: 0.45rem 0.67rem;
  gap: 0.8rem;
  align-items: start;
  justify-content: start;
  -webkit-border-radius: 8px;
  position: relative;
}
.formflight .flight-routes {
  width: 100%;
  height: 129px !important;
  display: flex;
  flex-direction: column !important;
  background-color: var(--zinc-100);
  border-radius: 8px;
  padding: 0.45rem 0.67rem;
  gap: 0.8rem;
  align-items: start;
  justify-content: start;
  -webkit-border-radius: 8px;
  position: relative;
}
.formflight .flight-routes .departure-route,
.formflight .flight-routes .destination-route {
  height: 50% !important;
  width: 100%;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: start;
}
div.click-content,
div.click-content label {
  height: fit-content !important;
}
div.click-content label {
  display: flex !important;
  gap: 0.1rem;
}
div.click-content {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  flex-direction: column !important;
}
div.click-content input.text-value {
  padding-right: 29px !important;
}
.formflight .flight-routes .reserve-field.departure-route {
  border-bottom: 1px solid var(--zinc-200) !important;
}
.searchList ~ span.absolute.w-10.h-10 {
  transform: rotate(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary) !important;
  border-radius: 50% !important;
  width: 48px !important;
  height: 48px !important;
  top: 55%;
  left: 12px !important;
}
.searchList ~ span.absolute.w-10.h-10:hover {
  background-color: var(--primary) !important;
}
.searchList ~ span.absolute.w-10.h-10 svg {
  width: 20px !important;
  height: 18px !important;
}
.searchList svg {
  width: 24px !important;
  height: 24px !important;
}
#flightHotelSearch .flight-routes.flex.gap-2 {
  height: 129px !important;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column !important;
  background-color: var(--zinc-100);
  border-radius: 8px;
  padding: 0.45rem 0.67rem;
  gap: 0.8rem;
  align-items: start;
  justify-content: start;
  -webkit-border-radius: 8px;
}
#flightHotelSearch .flight-routes.flex.gap-2 .reserve-field.departure-route {
  width: 100%;
  border-bottom: 1px solid var(--zinc-200) !important;
}
.FlightClass.hidden-box li:hover label {
  color: var(--primary-600) !important;
}
.route-container.w-full {
  display: grid;
  gap: 0.4rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.route-minus-btn {
  left: 0;
  position: absolute;
  top: -30px !important;
  width: fit-content !important;
  font-size: 14px !important;
}
.route-container.w-full .Basis_Date_Box {
  width: 100%;
}
.route-content-inner {
  position: relative;
}
.remove-routs {
  display: none !important;
}
.multicity-flight-form .reserve-search {
  width: 100%;
  justify-content: end !important;
}
.multicity-flight-form .reserve-search .search-flight {
  flex-direction: row-reverse !important;
}
.add-routs {
  left: 0;
  position: relative;
  width: 100%;
  height: 52px !important;
  background-color: var(--primary-200) !important;
  border-radius: 8px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px !important;
  color: var(--primary-700) !important;
}
.add-routs:hover {
  background-color: var(--primary-800) !important;
  color: white !important;
}
.multicity-flight-form
  .multiroute-fields.flex.gap-2.w-full
  .reserve-field.h-20 {
  height: fit-content;
  width: 100%;
}
.multicity-flight-form .reserve-field.flightclass-field {
  width: 100%;
}

.multicity-flight-form
  .reserve-field.passengers-field
  .border-type-1.h-full.rounded-type-1.px-2 {
  width: 100%;
}
.multicity-flight-form .Flightclass-Passenger.go-left {
  position: relative !important;
  left: 10px;
  top: 225px;
  width: 100%;
}
.multicity-flight-form .go-left {
  position: relative !important;
  left: 10px;
  top: 225px;
  width: 100%;
}
.third-route {
  width: 100%;
}
.one-btb-flight-form .formflight .Flightclass-Passenger.go-left {
  position: relative !important;
  left: 10px;
  top: 225px;
  width: 100%;
}
#search-box .formflight {
  margin-top: 4.5rem;
}
.active-module .module-name {
  display: flex !important;
}
.search-box-container .max-xl\:mb-4 {
  margin-bottom: 0rem !important;
}
.Flightclass-Passenger {
  margin: 1rem 0;
}
